.main-router {
  width: 100%;
  height: 100%;
}

.input-create {
  border: 1px solid #dfdfdf;
  width: 300px;
  margin: 0 20px 0 0;
  padding: 5px 13px;
  font-family: Roboto-Regular;
  font-size: 24px;
  background-color: white;
  color: #333333;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #333333;
}

.header-title {
  display: flex;
  align-items: center;
  height: 20%;
  width: 100%;
  background-color: #0e1d3c;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.header-title > .title {
  display: flex;
  padding: 0 0 0 10%;
  align-items: center;
}

.title > .header-text {
  color: white;
  font-size: 24px;
  padding: 0 0 0 10px;
}
.items-area {
  height: 80%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
}
.button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #313464;
  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: #209bac;
}
.input-row {
  padding: 40px 0 20px 10%;
  display: flex;
  align-items: center;
}
